<!-- my_template.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>SPM Auto Solutions</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
<h1 class="facebook-like-heading">SPM Auto Solutions</h1>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Retrieve Model Details</h3>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'FetchModelDetails' %}">

                {% csrf_token %}
                {{ form.as_p }}
                {% if success_message %}
                    <p style="color: green;">{{ success_message }}</p>
                {% endif %}

                {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                {% endif %}

                <!-- Style for submit button -->
                <button type="submit" class="form-submit">Retrieve Model Details</button>
                    <br>
                </form>
            </div>
        <a href="{% url 'MainPage' %}" class="styled-button">Home Page
            </a>
        </div>
    </div>
<!-- Include Bootstrap scripts -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->


{% if data_from_database %}
    <div class="container mt-5">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>ModelNo</th>
                        <th>VendorType</th>
                        <th>CompanyType</th>
                        <th>ItemType</th>
                        <th>HSNCode</th>
                        <th>PriceFromChina</th>
                        <th>DeclaredCustomPrice</th>
                        <th>SellingPrice</th>
                        <th>DateTime</th>


                        <!-- Add more headers for other fields as needed -->
                    </tr>
                </thead>

                <tbody>
                    {% for item in data_from_database %}
                        <tr>
                            <td>{{ item.ModelNo }}</td>
                            <td>{{ item.VendorType }}</td>
                            <td>{{ item.CompanyType }}</td>
                            <td>{{ item.ItemType }}</td>
                            <td>{{ item.HSNCode }}</td>
                            <td>{{ item.PriceFromChina }}</td>
                            <td>{{ item.DeclaredCustomPrice }}</td>
                            <td>{{ item.SellingPrice }}</td>
                            <td>{{ item.DateTime }}</td>
                            <td>
<!--                                <button class="delete-button" data-object-id="{{ object.id }}">Delete</button>-->
                                 <a href="{% url 'Row_delete' pk=item.pk %}">Delete</a>
                            </td>
                            <!-- Add more cells for other fields as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

        {% endif %}


</body>
</html>